html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p, h1 {
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.logo-image {
  padding-left: 19.53125%;
  height: 25.73px;
}

.info-image {
  width: 46px;
  height: 46px;
  background-color: #FDB913;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 100%;
  height: 470px;
  background-image: url("./assets/Header Image.png");
  background-size: cover;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 128px;
  position: absolute;
  bottom: 0px;
  padding-top: 13px;
  z-index: 1;
}

.headline-position {
  width: 100%;
  height: 128px;
  position: absolute;
  bottom: 0px;
  padding-top: 13px;
}

.primary-headline {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  padding-left: 19.53125%;
  line-height: 55px;
  position: relative;
  z-index: 2;
}

.secondary-headline {
  color: #FDB913;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-left: 19.53125%;
  line-height: 24px;
  position: relative;
  z-index: 2;
}

.content-container {
  padding-left: 19.53125%;
  padding-right: 40.8854166667%;
  padding-top: 40px;
  padding-bottom: 80px;
}

.content {
  font-size: 16px;
  color: #505050;
}

.item-detail {
  margin-top: 40px;
}

.item-detail-header {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 26px;
}

.addtnl-info {
  display: flex;
  padding-top: 40px;
}

.addtnl-info-img {
  padding-right: 12.09px;
}

.addtnl-info-text {
  color: #CC4B00;
  text-decoration: underline;
  letter-spacing: 0px;
  opacity: 1;
}

.addtnl-info-text:hover {
  cursor: pointer;
}

.content-divider {
  border: 1px solid #D6D6D6;
  margin: 0px auto;
  width: 95%;
}

.request-info-form {
  width: 380px;
  height: 575px;
  position: absolute;
  top: 151px;
  left: 60.6770833333%;
  background-color: #FFFFFF;
  padding: 23px 20px 35px 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  z-index: 3;
}

.request-header {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 350;
  color: #505050;
  padding-bottom: 25px;
  margin: 0;
}

.highlight {
  color: #CC4B00;
  text-decoration: underline;
  font-weight: bold;
}

.divider {
  border: 1.5px solid #FCB813;
  width: 40px;
  opacity: 1;
  margin-top: 32px;
  margin-bottom: 33px;
}

.form-label {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.form-label-check {
  padding-left: 8px;
  margin-top: 10px;
}

.asterisk {
  font-family: "Open Sans", sans-serif;
  color: #E65400;
  letter-spacing: -0.15px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 100px;
}

.dropdown-custom {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FDB913' stroke-linecap='square' stroke-linejoin='round' stroke-width='3.5' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  border-top: 0px;
  border-right: 0px;
  border-radius: 0px;
  border-color: #D6D6D6;
  border-width: 1px;
  padding: 1px 10px 1px 10px;
}

.checkbox-label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.checkbox {
  border: 2px solid #505050;
  border-radius: 3px;
}

.custom-control-input:checked {
  border-color: #FDB913 !important;
  background-color: #FDB913 !important;
}

.submit-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #CC4B00;
  border: 3px solid #CC4B00;
  border-radius: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  margin-top: 45px;
}

.btn-custom:hover {
  background-color: #FFFFFF;
  border: 3px solid #CC4B00;
}

.footer-content-container {
  background-color: #505050;
  height: 36.8518518519%;
  text-align: center;
  padding: 40px 19.53125% 40px 19.53125%;
  width: 100%;
}

.quote {
  color: #D6D6D6;
  font-family: "Roboto Slab", serif;
  font-size: 27px;
  font-weight: 100;
  letter-spacing: -0.5px;
  margin-bottom: 32px;
  line-height: 1;
}

.white-logo {
  height: 24px;
  width: 214px;
  margin-bottom: 34px;
}

.footer-text-container {
  margin-top: 22.5px;
}

.footer-text {
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 9.5px 0 9.5px 0;
}

.footer-divider {
  border: 1px solid #626262;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.tm {
  vertical-align: top;
  font-size: 13px;
}

.bottom-footer {
  background-color: #454545;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-footer-text {
  color: #D6D6D6;
  font-size: 12px;
}

@media (max-width: 1200px) {
  .request-info-form {
    box-shadow: none;
    position: static;
    padding-left: 19.53125%;
    padding-right: 19.53125%;
    width: 100%;
    padding-top: 44px;
  }
  .content-container {
    padding-left: 19.53125%;
    padding-right: 19.53125%;
  }
  .footer-content-container {
    padding-left: 9.765625%;
    padding-right: 9.765625%;
  }
}
@media (max-width: 992px) {
  .header-image {
    height: 305.5px;
  }
}
@media (max-width: 768px) {
  .logo-image {
    padding-left: 15px;
  }
  .header-image {
    height: 282px;
  }
  .content-container {
    padding: 43px 5.859375% 43px 5.859375%;
  }
  .request-info-form {
    box-shadow: none;
    position: static;
    padding: 44px 35px 65px 35px;
    width: 100%;
    height: auto;
  }
  .primary-headline {
    text-align: center;
    padding: 0;
    font-size: 32px;
  }
  .secondary-headline {
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    padding: 0;
    font-size: 18px;
  }
  .overlay {
    height: 115px;
  }
}
@media (max-width: 576px) {
  p {
    font-size: 14px;
  }
  .logo-image {
    padding-left: 15px;
  }
  .header-image {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-image: url("./assets/Test_Mobile (1)/Header Image.png");
  }
  .headline-position {
    width: 100%;
    height: 79px;
    position: absolute;
    bottom: 0px;
    padding-top: 13px;
    padding-bottom: 10px;
  }
  .primary-headline {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    line-height: 33px;
    position: relative;
    z-index: 2;
  }
  .secondary-headline {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
  }
  .content-container {
    padding: 43px 15px 43px 15px;
  }
  .content {
    font-size: 14px;
    line-height: 2;
  }
  .item-detail {
    margin-top: 21px;
    background-color: #F1F1F0;
    padding: 21px 20px 21px 20px;
  }
  .item-detail-header {
    font-size: 20px;
  }
  .addtnl-info {
    padding-top: 25px;
    padding-bottom: 31px;
  }
  .addtnl-info-text {
    font-size: 14px;
  }
  .request-info-form {
    padding: 20px;
    box-shadow: none;
    position: static;
    padding: 44px 35px 65px 35px;
    width: 100%;
    height: auto;
  }
  .asterisk {
    font-size: 12px;
  }
  .checkbox-label {
    font-size: 16px;
  }
  .footer-content-container {
    background-color: #505050;
    height: 604px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 15px 0px 15px;
    width: 100%;
  }
  .bottom-footer-text {
    padding: 20px 0 20px 0;
  }
  .quote {
    line-height: 1.3;
  }
  .bottom-footer {
    height: 70px;
  }
  .bottom-footer-text {
    font-size: 11px;
  }
}